@{
    ViewData["Title"] = "Bill Monitoring";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Bill Monitoring</h1>

    <h4>This application is intended for the convenient management of expenses.</h4>
</div>
